
/*Start Global */ 
 

.rs-slider.main-home .owl-nav .owl-next:hover, 
.rs-slider.main-home .owl-nav .owl-prev:hover,
#scrollUp.orange-color i:hover{
    background-color: rgb(36, 136, 116 , 0.8);
}

/* end header  */



.main-color{
    color: #248874;
}
.main-bg{
    background-color: #248874;
}






/* for topbar header  */
.full-width-header .rs-header .topbar-area .topbar-contact li{
    border-right: 0;
    margin-right:5px;
    padding-right:5px;
}

.full-width-header .rs-header .topbar-area .topbar-contact li,
.full-width-header .rs-header .topbar-area .topbar-contact li a,
.topbar-link-color{
    color: #D0D6DD;
 
}
.full-width-header .rs-header .topbar-area .topbar-right li.login-register a:hover{
    color: #A2A2B2;
}

.full-width-header .rs-header .topbar-area .topbar-contact li i:before{
    color: #E9EBEB;
}

.full-width-header .rs-header .topbar-area .topbar-right li{
    margin-right: 10px;
}

.divider{
    font-size: 20px;
    line-height: 20px;
    padding: 0 10px;
}

.full-width-header .rs-header .topbar-area .topbar-right li.login-register i{
    margin-right: 5px;
}

/* sticky menu  */
.full-width-header .rs-header .logo-part img{
    max-height: 60px;
    height: 60px;
    width: 182px;
}
.full-width-header .rs-header .menu-area .logo-cat-wrap{
    height: 90px;
    line-height: 90px;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a{
    height: 90px;
    line-height: 90px;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area{
    justify-content:flex-start;
}

.full-width-header .rs-header .menu-area .nav-expander span{
    background-color:#394459;
}

/* main slider  */
.rs-slider.main-home .slider-content .content-part .sl-title{
    font-size: 40px;
}

.features-wrap .icon-part i{
    font-size: 50px;
    margin:0 20px 8px 0;
}

.rs-features .features-wrap .icon-part img{
    margin: 0 10px 8px 0;
}


.owl-carousel .owl-item img{
    width: 100%;
}

/* Quick access Start */
.qabg{
    background: url(../images/quick_access/qabg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.qa-title-line{
    position: relative;
}

.qa-title-line::after{
    content: '';
    width: 6.2em;
    height: 5px;
    background-color: #A2A2B2;
    position: absolute;
    bottom: -12px;
    left: 0;
}
.qa-content{
    border-radius: 10px;
    transition: all 0.3s;
    background-color: #00856a;
}

/* Quick access end */

/* news part  */
.header-news{
    position: relative;
}

.header-news::after{
    content: '';
    width: 8em;
    height: 5px;
    background-color: #A2A2B2;
    position: absolute;
    bottom: -12px;
    left: 0;
}

/* event part  */
.event-row{
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-events{
    position: relative;
}

.header-events::after{
    content: '';
    width: 9.7em;
    height: 5px;
    background-color: #A2A2B2;
    position: absolute;
    bottom: -12px;
    left: 0;
}


    

/*  latest news  */

.rs-blog.style1 .blog-item .blog-content{
    padding: 14px 14px 14px;
}


.rs-blog.style1 .blog-item .blog-content .title a{
    font-size: 18px;
}

.rs-blog.style1 .blog-item .blog-content .readon-arrow{
    font-size: 14px;
}
.rs-blog.style1 .blog-item .image-part{
    padding-left: 14px;
}

.rs-blog.main-home .blog-item .blog-content .btn-btm .cat-list .post-categories:before{
    content: "\f007";
}

/* Statistics  */
.rs-statistics{
    box-shadow: 0px 0px 10px -7px #248874;
    /* box-shadow: 0px 0px 13px -3px ; */
}

.header-statistics{
    position: relative;
}

.header-statistics::after{
    content: '';
    width: 11em;
    height: 5px;
    background-color: #A2A2B2;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.rs-counter .counter-item .rs-count{
    padding-right: 0;
    padding-left: 0;
}
.lg-mb-70{
    margin-bottom: 70px;
}
.rs-counter .counter-item .title ,
.rs-counter.style2-about .counter-item .title{
    color: #248874;
}

/* playlist */
.header_playlist{
    position: relative;
}

.header_playlist::after{
    content: '';
    width: 7.2em;
    height: 5px;
    background-color: #A2A2B2;
    position: absolute;
    bottom: -12px;
    left: 0;
}

/* College and Institute */

.rs-degree.style1 .degree-wrap .content-part{
    padding: 30px 30px 30px;
}

.header-colleges{
    position: relative;
    font-size: 33px;
    text-align: left;
    padding: 0 0.5em;
}
.header-colleges::after{
    content: '';
    width: 0.3em;
    height: 90%;
    background-color: #248874;
    position: absolute;
    top: 0.2em;
    left: 0px;
}
.header-college-subtitle{
    font-size: 22px;
    margin-top: 1.5em;
    text-align: left;
}
/* temperary in college and institute */

@media (min-width: 768px) {
    .rs-degree.style1 .degree-wrap img{
        /* height: 390px ; */
        height: 455px ;
    }
}

@media only screen and (max-width: 575px){
    .rs-degree.style1 .degree-wrap img{
        height: 325px ;
    }
}


/* New Videos */
.rs-faq-part.rs-college-videos.style1 .img-part{
    min-height: 250px;
}


/* albums */
.rs-degree.rs-college-album.style1{
    background-color: #BCC5D6;

}
@media (min-width: 768px){
    .rs-degree.rs-college-album.style1 .album-container
    {
        box-shadow:0 0 12px -1px #000;
    }
    .album-title{
        background-color: #248874;
        padding: 50px;
        
    }
 
}


.rs-degree.rs-college-album.style1 .degree-wrap img{
    height: 325px;
}

.header-album{
    position: relative;
    font-size: 33px;
}

.header-album::after{
    content: '';
    width: 8px;
    height: 70%;
    /* background-color: #248874; */
    background-color: #A2A2B2;
    position: absolute;
    top: 6px;
    left: -12px;
}
.header-album-subtitle{
    font-size: 22px;
    margin-top: 1.5em;
}

.rs-degree.rs-college-album.style1 .degree-wrap:hover .title-part{
    bottom: 0;
    opacity: 1;
}

/* Footer  */
.rs-footer.home9-style .footer-top{
    /* padding: 80px 0 80px; */
    padding: 80px 0 80px;
}

.desc.desc-title{
    padding-left: 0 !important;
}



.rs-blog.main-home .blog-item .blog-content .title a{
    font-size: 20px;
    line-height: 30px;
}

.rs-blog.style1 .events-short .content-part .title a{
    font-size: 16px;
    line-height: 24px;
}


/* blog list */
.recent_post_title::before{
    width: 7.5em;
}

.tags_title::before{
    width: 8.2em !important;
}



/* waleed eadit start */
.h2_eadit {
    font-size: 29px !important;
}
.content-shadow {
    box-shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.03);
}
/* news  */
.rs-blog.main-home .blog-item .blog-content .blog-meta li:last-child{
    font-size: 12px;
}

.rs-blog.main-home .blog-item .blog-content .title a {
    color: #000;
}
.rs-blog.main-home .blog-item .blog-content .blog-meta {
    color: #777777;
}
.rs-blog.main-home .blog-item .blog-content .btn-btm .rs-view-btn a {
    padding: 3px;
    border: 2px solid #248874;
    border-radius: 10px;
    background: #248874;
    color: #fff;
}
.rs-blog.main-home .blog-item .blog-content .btn-btm .rs-view-btn a:hover {
    padding: 3px;
    border: 2px solid #248874;
    border-radius: 10px;
    color: #000;
    background: #fff;
}

.rs-blog.main-home .blog-item .blog-content .btn-btm .rs-view-btn a:after {
    content: "\f054";
    font-family: fontawesome;
    font-size: 12px;
    position: relative;
    left: 0px;
    top: 0px;
    display: inline-block;
    margin-left: 3px;
}
/* content-card  */
.rs-degree.style1 .degree-wrap .content-part,
.rs-team.style1 .team-item:after {
    width: calc(101%);
    height: calc(101%);
}
.header-college-subtitle {
    color: #777777;
}
.rs-degree.style1 .degree-wrap .content-part {
    background: #fff;
}
.rs-degree.style1 .degree-wrap .content-part .title a {
    color: #000;
}
.rs-degree.style1 .degree-wrap .content-part .desc {
    color: #777777;
}
.rs-degree.style1 .degree-wrap .content-part .btn-part a {
    color: #777777;
}
.rs-blog.style1 .events-short .content-part .title a {
    color: #000;
}


.rs-counter.style2-about .counter-item{
    display: flex;
}
.rs-counter.style2-about .counter-item .statistic-image{
    padding-right: 0.7em;
}
.rs-counter.style2-about .counter-item .statistic-content{
    text-align: left;
}

.rs-counter.style2-about .counter-item .statistic-image .image {
    width: 5.7em;
    height: 100%;
}

@media (max-width:768px){
    .rs-counter.style2-about .counter-item{
       flex-direction: column;
    }
    .rs-counter.style2-about .counter-item .statistic-image{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1em;
    }
    .rs-counter.style2-about .counter-item .statistic-content{
        text-align: center;
    }
}




.rs-counter.style2-about .counter-item .rs-count {
    color: #506378 !important;
}
.rs-counter.style2-about .counter-item .title {
    color: #248874 !important;
}

/* youtup */
.rs-faq-part.rs-college-videos.style1 .img-part {
    min-height: 170px !important;
}
.media-icon .popup-videos {
    width: 60px;
    height: 60px;
}
.media-icon .popup-videos i {
    margin-right: -3px;
    margin-top: -2px;
}

/* album */
@media (min-width: 768px) {
    .rs-degree.rs-college-album.style1 .album-container {
        box-shadow: none !important;
    }
}
.album-title {
    max-width: 20%;
}
.rs-degree.rs-college-album.style1 {
    background: url(../images/bg/bg2.jpg);
}
.rs-degree.style1 .degree-wrap {
    border-radius: 12px;
}
/* footer */
.rs-footer.home9-style.main-home .footer-top .widget-title:before {
    background: #fff;
}
.rs-footer.home9-style.main-home .footer-top .site-map li:before {
    background: #fff;
}
.rs-footer.home9-style.main-home .footer-bottom .copy-right-menu li:before {
    background: #fff;
}
.rs-footer.home9-style.main-home {
    background: #248874;
}

.rs-footer.home9-style.main-home .footer-top .footer_social li a:hover {
    color: #a2a2b2;
}

.rs-footer.home9-style.main-home .footer-top .site-map li a:hover {
    color: #a2a2b2 !important;
}
.rs-footer.home9-style .footer-top .address-widget li .desc a:hover {
    color: #a2a2b2 !important;
}
.rs-footer.home9-style .footer-top .address-widget li .desc:hover {
    color: #a2a2b2 !important;
    cursor: pointer;
}
.rs-footer.home9-style.main-home .footer-bottom .copy-right-menu li a:hover {
    color: #a2a2b2 !important;
}
.album-btn {
    background-color: #248874;
    color: #fff !important;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
    transition: 0.3s all;
}
.album-btn:hover {
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4);

    color: #fff;
}
@media (min-width: 768px) {
    .album-title {
        max-width: 98% !important;
    }
}
@media (max-width: 768px) {
    .album-title {
        max-width: 98% !important;
        background-color: #248874;
        padding-bottom: 10px;
    }
}
.rs-menu-area .waleed {
    color: #000;
}
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .topbar-link-color {
    color: #ffffff;
}
.full-width-header
    .rs-header
    .topbar-area
    .topbar-right
    li.login-register
    a:hover {
    color: #a2a2b2;
}
.full-width-header.header-style2 .rs-header .menu-area.sticky .waleed {
    color: #fff;
}
.full-width-header .rs-header .topbar-area .topbar-contact li,
.full-width-header .rs-header .topbar-area .topbar-contact li a,
.topbar-link-color {
    color: #fff;
}
.header-events::after {
    height: 3px !important;
}
.header-news::after {
    height: 3px !important;
}
.header-statistics::after {
    height: 3px !important;
}
.header_playlist::after {
    height: 3px !important;
}
@media (max-width: 992px) {
    .rs-menu-area .waleed {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .full-width-header .rs-header .menu-area .nav-expander {
        display: none !important;
    }
}
/* waleed edit end */

.full-width-header.header-style2 .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu > li > a:hover,
.full-width-header.header-style2 .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu > li.active,
.full-width-header.header-style2 .rs-header .menu-area.sticky .main-menu .rs-menu ul.nav-menu > li.current-menu-item > a
{
    color: red  !important;
}
